/* styles.css */
body {
  font-family: Arial, sans-serif;
}

.genero-container {
  margin: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  background-color: #f8f8f8;
}

h2 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.genero {
 gap : 20px;
  display: flex;
  flex-wrap:  wrap;
  
}

.genero img {
  width: 200px;
}
.peliculatam {
  width: 200px;
}